---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Servidores Reiniciados</title>
  </head>
  <body class="bg-gray-100 text-gray-800">
    <slot />
  </body>
</html>